<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muite.zongshe1.mapper.DriverMapper">
  <resultMap id="BaseResultMap" type="com.muite.zongshe1.entity.Driver">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="license_type" jdbcType="VARCHAR" property="licenseType" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="truck_id" jdbcType="INTEGER" property="truckId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, phone, license_type, status, truck_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from driver
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from driver
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.muite.zongshe1.entity.Driver">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into driver (name, phone, license_type, 
      status, truck_id)
    values (#{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{licenseType,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{truckId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.muite.zongshe1.entity.Driver">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into driver
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="licenseType != null">
        license_type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="truckId != null">
        truck_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="licenseType != null">
        #{licenseType,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="truckId != null">
        #{truckId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.muite.zongshe1.entity.Driver">
    update driver
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="licenseType != null">
        license_type = #{licenseType,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="truckId != null">
        truck_id = #{truckId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.muite.zongshe1.entity.Driver">
    update driver
    set name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      license_type = #{licenseType,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      truck_id = #{truckId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, phone, license_type, status, truck_id
    from driver
  </select>
</mapper>
